/*
*charts*
*/
@use 'variables' as v;

.modal-header {
  border: none;
}

.modal-body {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    padding: 1em;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: v.$gray2;
  }
}

.ruler {
  position: relative;
  border-bottom: 1px dotted v.$black1;

  &:before,
  &:after {
    display: block;
    content: "";
    position: absolute;
    height: 14px;
    top: -6px;
    border: 0 solid v.$black1;
  }

  &:before {
    left: 0;
    border-left-width: 1px;
  }

  &:after {
    right: 0;
    border-right-width: 1px;
  }

  span[class^="arrow-"] {
    position: absolute;
    top: -4px;
    content: "";
    display: block;
    border: 5px solid transparent;

    &.arrow-left {
      left: -5px;
      border-right-color: v.$black1;
    }

    &.arrow-right {
      right: -5px;
      border-left-color: v.$black1;
    }
  }
}

.bar {
  display: flex;
  width: 0%;
  position: relative;
  bottom: 0;
  left: 0;
  transition: width 1s;
  border-radius: 0 5px 5px 0px;
  font-size: 14px;

  .w-100 {
    animation: span 2s ease-in-out;
  }

  .flex-shrink-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    padding-left: 5px;
    color: #fff;
    animation: span 3s ease-in-out;
  }
}

@keyframes span {
  0% {
    opacity: 0;
    color: transparent;
  }

  100% {
    opacity: 1;
  }
}

/*1*/

.one_1 {
  width: 90%;
  animation: a4 0.5s ease-in-out;
}

.one_2 {
  width: 80%;
  animation: a4 0.7s ease-in-out;
}

.one_3 {
  width: 80%;
  animation: a4 1s ease-in-out;
}

.one_4 {
  width: 80%;
  animation: a4 1.25s ease-in-out;
}

.one_5 {
  width: 80%;
  animation: a4 1.35s ease-in-out;
}

.one_6 {
  width: 60%;
  animation: a3 1.75s ease-in-out;
}

.one_7 {
  width: 100%;
  animation: a5 2s ease-in-out;
}

/*2*/

.two_1 {
  width: 90%;
  animation: a45 2.05s ease-in-out;
}

.two_2 {
  width: 90%;
  animation: a45 2.1s ease-in-out;
}

.two_3 {
  width: 60%;
  animation: a3 2.15s ease-in-out;
}

.two_4 {
  width: 40%;
  animation: a2 2.205s ease-in-out;
}

.two_5 {
  width: 60%;
  animation: a3 2.25s ease-in-out;
}

.two_6 {
  width: 40%;
  animation: a2 2.3s ease-in-out;
}

.two_7 {
  width: 60%;
  animation: a3 2.35s ease-in-out;
}

/*3*/

.three_1 {
  width: 90%;
  animation: a45 2.4s ease-in-out;
}

.three_2 {
  width: 60%;
  animation: a3 2.45s ease-in-out;
}

.three_3 {
  width: 40%;
  animation: a2 2.5s ease-in-out;
}

.three_4 {
  width: 40%;
  animation: a2 2.55s ease-in-out;
}

.three_5 {
  width: 60%;
  animation: a3 2.6s ease-in-out;
}

.three_6 {
  width: 60%;
  animation: a3 2.65s ease-in-out;
}

.three_7 {
  width: 80%;
  animation: a4 2.7s ease-in-out;
}

.three_8 {
  width: 40%;
  animation: a2 2.75s ease-in-out;
}

.three_9 {
  width: 40%;
  animation: a2 2.75s ease-in-out;
}

.three_10 {
  width: 80%;
  animation: a4 2.8s ease-in-out;
}

/*four*/

.four_1 {
  width: 90%;
  animation: a45 2.85s ease-in-out;
}

.four_2 {
  width: 90%;
  animation: a45 2.9s ease-in-out;
}

.four_3 {
  width: 80%;
  animation: a4 2.95s ease-in-out;
}

.four_4 {
  width: 40%;
  animation: a2 3s ease-in-out;
}

.four_5 {
  width: 80%;
  animation: a4 3.1s ease-in-out;
}

.four_6 {
  width: 90%;
  animation: a45 3.15s ease-in-out;
}

@keyframes a5 {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes a45 {
  from {
    width: 0;
  }

  to {
    width: 90%;
  }
}

@keyframes a4 {
  from {
    width: 0;
  }

  to {
    width: 80%;
  }
}

@keyframes a35 {
  from {
    width: 0;
  }

  to {
    width: 70%;
  }
}

@keyframes a3 {
  from {
    width: 0;
  }

  to {
    width: 60%;
  }
}

@keyframes a25 {
  from {
    width: 0;
  }

  to {
    width: 50%;
  }
}

@keyframes a2 {
  from {
    width: 0;
  }

  to {
    width: 40%;
  }
}

@keyframes a15 {
  from {
    width: 0;
  }

  to {
    width: 30%;
  }
}

@keyframes a1 {
  from {
    width: 0;
  }

  to {
    width: 20%;
  }
}

.bar-1,
.bar-2,
.bar-3,
.bar-4 {
  background: v.$blue3;
  color: v.$shiro;
}

.bar-1 {
  opacity: 0.5;
}

.bar-2 {
  opacity: 0.6;
}

.bar-3 {
  opacity: 0.8;
}