/*
*form*
*/
@use 'variables' as v;

form {
  label {
    span {
      color: v.$red;
    }
  }

  input::placeholder,
  textarea::placeholder {
    color: v.$gray3;
  }

  textarea {
    resize: vertical !important;
    min-height: 180px;
  }

  button {
    background: v.$green1;

    &:hover {
      background: v.$blue2;
      transition: 0.5s ease all;
    }
  }
}