/*
*general*
*/

html,
body {
  height: 100%;
}

body {
  background: $blue1;
  animation: fadeIn 2s ease forwards; /* fadeInアニメーションを0.3秒かけて実行 */
  opacity: 0; /* 初期状態は透明 */
}

section {
  display: block;
  margin: 0 auto !important;

  @include mq(lg) {
    margin: 40px auto !important;
  }
}

main > div > h1 {
  font-size: 80px;
  font-weight: normal;
  color: $shiro;

  @include mq(lg) {
    font-size: 120px;
    padding-top: 40px;
  }
}

a {
  text-decoration: none;
  color: $black1;
  &:hover {
    opacity: 0.8;
  }
}
