/*
*general*
*/
@use 'variables' as v;

html,
body {
  height: 100%;
}

body {
  background: v.$blue1;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

section {
  display: block;
  margin: 0 auto !important;

  @include v.mq(lg) {
    margin: 40px auto !important;
  }
}

main>div>h1 {
  font-size: 80px;
  font-weight: normal;
  color: v.$shiro;

  @include v.mq(lg) {
    font-size: 120px;
    padding-top: 40px;
  }
}

h4 {
  margin: 2rem 0 !important;
}

h5 {
  margin: 0.5rem 0 !important;
}

ul,
ol {
  padding-left: 1rem !important;

  ul,
  ol {
    padding-left: 0 !important;
  }
}

ul {
  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
  color: v.$blue3;

  &:hover {
    opacity: 0.8;
  }
}