/* 
*pages*
 */
@use 'variables' as v;
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


/*top*/

#top {
  background: url(img/topimg.jpg) no-repeat 45% 0;
  background-size: cover;

  @include v.mq(lg) {
    background: url(img/topimg.jpg) no-repeat top center;
    background-size: cover;
  }

  h1 {
    color: v.$blue3;

  }
}

.cursor {
  position: relative;
  width: 24em;
  margin: 0 auto;
  border-right: 0px solid rgba(255, 255, 255, .75);
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.typewriter-animation {
  animation:
    typewriter 5s steps(50) 1s 1 normal both,
    blinkingCursor 400ms steps(50) normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blinkingCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}


/*about*/

img.about1 {
  filter: brightness(0.95);
}

.post-password-form {
  /* フォーム全体のスタイル */
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

.post-password-form p {
  max-width: 480px;
  margin: 0 auto 20px auto;
}

.post-password-form label {
  /* ラベルのスタイル */
  display: block;
  margin-bottom: 5px;
}

.post-password-form input[type='password'] {
  /* パスワード入力欄のスタイル */
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

.post-password-form input[type='submit'] {
  padding: 5px 10px;
  background-color: #1793b6;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/*thanks*/

.thanks {
  main {
    background: v.$green1;
  }
}

/*custom post*/

#sidebar-nav {
  position: sticky;
  top: 100px;
  background: transparent;

  .nav-pills {
    a.nav-link {
      color: v.$gray1 !important;

      ul {
        a.nav-link {
          margin: 0;
        }
      }
    }
  }

  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    background: transparent;
    color: v.$blue3 !important;
  }

}

.blog-title {
  margin-bottom:60px {}

  @include v.mq(lg) {
    margin-bottom: 100px;
  }
}

.blog-cat {
  color: v.$blue3;

  a {
    color: v.$blue3;
  }
}

.target-div {
  scroll-margin-top: 100px;

  div {
    h4 {
      scroll-margin-top: 100px;
    }

    ol,
    ul {
      li {
        margin-bottom: 0.5rem;
      }

      @include v.mq(lg) {
        padding-left: 2rem !important;
      }
    }

    >div,
    >p {
      @include v.mq(lg) {
        padding-left: 1.5rem !important;
      }
    }
  }

}


/*notfound*/

.notfound {
  h1 {
    font-size: 40px;

    span {
      display: block;
      font-size: 140px;

      @include v.mq(md) {
        font-size: 180px;
      }
    }
  }
}