/*
*slick*
*/
@use 'variables' as v;

.responsive {
  z-index: 0;

  .prev-arrow {
    display: block;
    position: absolute;
    left: 0;
    top: 45%;
    z-index: 5;

    &::before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('icons/chevron-right.svg');
      background-repeat: no-repeat;
      background-position: center;
      rotate: 180deg;
    }
  }

  .next-arrow {
    display: block;
    position: absolute;
    right: 0;
    top: 45%;
    z-index: 5;

    &::after {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('icons/chevron-right.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .slick-dots {
    bottom: -2em;

    li {
      width: 15px;
    }
  }
}