@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Ephesis&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap');

*,
:after,
:before {
  box-sizing: border-box
}

:root {
  --color-text: #333;
  --color-bg: #fefbf6;
  --color-link: #fff;
  --color-link-hover: #fff;
  --page-padding: 1.5rem 2rem;
  font-size: 16px;
  --viewport-height: 100vh;
}

$shiro: #fff;
$beige: #f0eded;
$gray1: #666;
$gray2: #aeaeae;
$gray3: #ccc;
$gray4: #f8f9fa;
$black1: #333333;
$pink1: #ff70c4;
$blue: #3e43a8;

$breakpoints: (
  'sm': 'screen and (max-width: 576px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
  'xl': 'screen and (min-width: 1200px)',
  'xxl': 'screen and (min-width: 1400px)',

  'down-xl': 'screen and (max-width: 1200px)',

  ) !default;

@mixin mq($breakpoint) {

  // 引数名を $breakpoint に変更
  @media #{map.get($breakpoints, $breakpoint)} {
    // 第2引数を $breakpoint に変更
    @content;

  }

}