/*
*blog*
*/
@use 'variables' as v;



/* archive-blog */

/* category-blog */

.archive-blog,
.category-blog,
.single-blog {

    .new {
        color: v.$pink1;
    }

    .blog-cat {
        color: v.$pink1;

        a {
            color: v.$pink1;
        }
    }

    .card {
        background: transparent;

        img {
            border-radius: 5px;
        }
    }
}

/* single-blog */

.single-blog {

    .blog-post-title {
        margin-bottom:60px {}

        @include v.mq(lg) {
            margin-bottom: 100px;
        }
    }

    /* post */

    .postrow {

        #sidebar-nav {
            position: sticky;
            top: 100px;
            background: transparent;

            .nav-pills {
                .show>.nav-link {
                    background: transparent;
                }

                .nav-link {
                    color: v.$black1;

                    &.active {
                        color: v.$pink1;
                        background: transparent;
                    }
                }
            }
        }

        .postrow-right {

            h3 {
                border-left: 8px solid v.$black1;
                padding: .5em;
            }

            p,
            li {
                line-height: 1.8em;
                margin-bottom: 1em;
            }

            li {
                list-style-type: disc;
            }

            img {
                display: block;
                margin: 3rem auto;
            }
        }
    }
}