/*test.d73f7ad5.css
* for top page *
*/
@use 'variables' as v;

main.onscroll {
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: area-normal, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.pin-spacer {
    overflow-x: hidden;
}

/*
.frame {
    color: var(--color-title);
    padding: var(--page-padding);
    grid-gap: .5rem;
    grid-template: "title" "prev" "demos" "sponsor" /1fr;
    justify-content: start;
    place-items: start end;
    margin-bottom: 3rem;
    font-size: 14px;
    font-weight: 600;
    display: grid;

    a:not(.frame__title-back) {
        white-space: nowrap;
        position: relative;
        overflow: hidden;
    }
}

.line {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.frame a:not(.frame__title-back):before,
.line:before {
    content: "";
    transform-origin: 0%;
    background: currentColor;
    width: 100%;
    height: 1px;
    transition: transform .3s;
    position: absolute;
    top: 90%;
}

.frame a:not(.frame__title-back):hover:before,
.line:hover:before {
    transform-origin: 100%;
    transform: scaleX(0);
}

.frame__title {
    grid-area: title;
    align-items: center;
    display: flex;
}

.frame__title-main {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

.frame__title-back {
    align-items: flex-end;
    display: flex;
    position: relative;

    svg {
        fill: currentColor;
    }
}


.frame__prev {
    grid-area: prev;
    align-self: start;
}

.frame__demos {
    gap: 1rem;
    display: flex;

    span {
        opacity: 0.7;
    }
}
*/
.intro {
    height: 100vh;
    display: grid;

    .container {
        >div {
            background: url(./img/danchi.jpg) no-repeat center bottom;
            background-size: cover;
            filter: brightness(.9);
        }

        p {
            color: v.$pink1;
        }
    }

    @media (orientation: landscape) and (max-height: 767px) {
        .container {
            padding: 2rem 0;
        }
    }


    .title {
        position: absolute;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 1rem;
        background-size: 100% auto;
        background-position: center top;
        animation: slideIn 0.5s forwards 0.3s;
        opacity: 0;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*sp 縦*/
@media (max-width: 767px) and (orientation: portrait) {

    .title {
        background: url(./img/title_sp.svg) no-repeat;
    }
}

/*sp 　横*/
@media (orientation: landscape) and (max-height: 767px) {

    .title {
        background: url(./img/title_pc.svg) no-repeat;
    }
}



/*tablet　縦*/
@media (min-width: 768px) and (max-width: 1365px) and (orientation: portrait) {

    .title {
        background: url(./img/title_sp.svg) no-repeat;
    }
}

/*tablet　横*/
@media (orientation: landscape) and (min-width: 768px) {

    .title {
        background: url(./img/title_pc.svg) no-repeat;
    }
}

/*pc*/
@media (min-width: 1366px) and (orientation: portrait) {
    .title {
        background: url(./img/title_pc.svg) no-repeat;
    }
}

@include v.mq(xxl) {
    .title {
        background: url(./img/title_pc.svg) no-repeat;
    }
}

.intro__title-sub {
    font-size: clamp(1.5rem, 2vw, 2.75rem);
    animation-name: slidein-x;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

/*sp 　横むき高さ344*/
@media (orientation: landscape) and (max-height: 375px) {

    .intro__title-sub {
        text-align: right;
    }
}

@keyframes slidein-x {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.intro__info {
    position: absolute;
    bottom: 0;
    right: 1rem;
    max-width: 20ch;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    font-size: 1.1em;
    line-height: 1.2;
    transition: opacity 0.5s ease-in-out;

    >span {
        display: inline-block;
        transform: rotate(90deg);
        text-shadow: 1px 1px 0 v.$shiro;
    }


    &:after {
        content: "";
        background: v.$black1;
        width: 1px;
        height: 2rem;
        position: absolute;
        top: 100%;
        left: 45%;
        animation: scrollDown 2s ease infinite;
    }
}

@include v.mq(lg) {
    .intro__info {
        right: 2rem;
    }
}

@keyframes scrollDown {
    0% {
        transform-origin: top;
        transform: scaleY(0);
    }

    45% {
        transform-origin: top;
        transform: scaleY(1);
    }

    55% {
        transform-origin: bottom;
        transform: scaleY(1);
    }

    100% {
        transform-origin: bottom;
        transform: scaleY(0);
    }
}

.content {
    width: 100vw;
    padding: var(--page-padding);
    flex-direction: column;
    display: flex;
    position: relative;

    h3,
    p {
        max-width: 660px;
        margin: 0 auto .5rem auto;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5;
    }
}

.content--full {
    padding: 0;
}

.content--highlight p {
    font-size: clamp(1rem, 3vw, 2rem);
}

.content__title {
    counter-increment: section;
    gap: 2rem;
    font-size: 18vw;
    line-height: .8;
    display: grid;
}

@include v.mq(xl) {

    .content__title {
        font-size: 12vw;
    }

}


/*
.content__title.small {
    font-size: 6vw !important;
}

.content__title--left {
    text-align: left;
}

.content__title--right {
    text-align: right;
}

.content__title--sides {
    text-align: left;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    gap: 2rem;
    display: grid;

    span:last-child {
        justify-self: end;
    }
}


.font-height {
    line-height: 1.4;
}

.font-height-medium {
    line-height: 0.9;
}
    */

.font-medium {
    margin-top: 3rem;
    font-size: 11vw;
}

@include v.mq(lg) {
    .font-medium {
        font-size: 6vw;
    }
}

.font-sub {
    margin-top: 2rem;
    font-size: 5vw;
    display: block;
}

.splitting .font-sub .word {
    grid-auto-flow: column;
    display: grid;
}

.char-wrap {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

@media screen and (width >=53em) {
    .frame {
        grid-gap: 2rem;
        grid-template: "title prev demos sponsor" /auto auto 1fr auto;
        justify-items: start;
    }

    .frame__demos {
        justify-self: end;
    }
}

.fixed-bg {
    min-height: 50vh;
    background: url(./img/night.jpg) no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 1px 5px v.$blue;

}

@include v.mq(lg) {
    .fixed-bg {
        background-size: 100% auto;
    }
}